@model IEnumerable<DataLayer.Entities.Product>

@{
    @using CoreLayer.Utilities;
    ViewData["Title"] = "محصولات";
    int index = 1;
}
<div class="box box-primary">
    <div class="col col-md-12">
        <h1>محصولات</h1>
        <div style="text-align:center">
            <a href="/Admin/products/create" class="btn btn-success btn-lg " style="width:40%"><i class="fa fa-plus">&nbsp;افزودن محصول جدید</i></a>
        </div>
    </div>
    <div class="box-body">
        <table class="table table-bordered table-striped dataTable">
            <thead>
                <tr>
                    <th class="sorting ">
                        #
                    </th>
                    <th class="sorting col-md-2">
                        تصویر
                    </th>
                    <th class="sorting col-md-1">
                        نام محصول
                    </th>
                    <th class="sorting col-md-1">
                        فروشگاه
                    </th>
                    <th class="sorting col-md-1">
                        قیمت
                    </th>
                    <th class="sorting col-md-1">
                        موجود در انبار
                    </th>
                    <th class="sorting" col-md-1>
                        نمایش در اسلایدر
                    </th>
                    <th class="sorting col-md-2">
                        اسلاگ
                    </th>
                    <th class="sorting col-md-1">
                        گروه
                    </th>
                    <th class="sorting col-md-2">
                        عملیات
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@index</td>
                        <td>
                            <img class="thumbnail" style="max-width:150px;text-align:center" src="@FileRoots.ReadProductphotoRoot@item.SliderPicture" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </td>
                        <td>
                            <a href="#">@item.Admin.FullName</a>
                        </td>
                        <td>
                            <span>@item.ProductPrice.Price.ToString("#,0")</span>
                        </td>

                        <td>

                            @foreach (var Q in item.ProductColors)
                            {
                                if (Q.Quantity != 0)
                                {
                                    <input checked="checked" class="check-box" disabled="disabled" type="checkbox">
                                }
                                else
                                {
                                    <input checked="" class="check-box" disabled="disabled" type="checkbox">
                                }
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ShowInSlider)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Slug)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GroupProduct.GroupName)
                        </td>

                        <td style="font-size:x-large">
                            <a asp-action="Delete" asp-route-Id="@item.Id" class="label label-danger col col-md-3"><i class="fa fa-trash-o"></i></a>
                            <a asp-action="Details" asp-route-Id="@item.Id" class="label label-info col col-md-3"><i class="fa fa-info"></i></a>
                            <a asp-action="Edit" asp-route-Id="@item.Id" class="label label-warning col col-md-3"><i class="fa fa-edit"></i></a>
                        </td>
                    </tr>
                    index++;
                }
            </tbody>
        </table>
    </div>
</div>
